body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

main {
    max-width: 400px;
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.form-1 {
    margin-bottom: 20px;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
.input-1 {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.btn-proximo {
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.btn-proximo:hover {
    background-color: darkorange;
}
@media (max-width: 600px) {
main {
    padding: 10px; 
}
.input-1 {
    padding: 8px; 
}
.btn-proximo {
    padding: 12px;
}
}